.slider-container {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.product-card {
  text-align: center;
  /* padding: 0; Remove padding inside the cards */
  /* margin: 0; Remove margin inside the cards */
}

.product-image {
  width: 100%; /* Image fills the container */
  height: auto; /* Keep aspect ratio */
  margin: 0 auto;
  object-fit: cover;
  max-width: 500px; /* Ensure no extra gap in image width */
}

/* Fix slick slide gap */
.slick-slide {
  padding: 0 !important; /* Override slick default padding */
  margin: 0 !important; /* Override slick default margin */
}

/* Arrow style */
.arrow {
  font-size: 40px; /* Bigger arrow */
  cursor: pointer;
  position: absolute;
  top: 27%; /* Center vertically */
  /* transform: translateY(-50%); */
  background: none;
  border: none;
  color: black;
  /* z-index: 100; Keep above other elements */
}

.arrow.left {
  left: 5px; /* Small gap for arrow on the left */
}

.arrow.right {
  right: 5px; /* Small gap for arrow on the right */
}
