.slider-container {
    position: relative; /* Position relative for absolute positioning of arrows */
    overflow: hidden;
  }
  
  .product-card {
    position: relative; /* Relative positioning to position arrows inside */
    text-align: center; /* Center content in each card */
  }
  
  .product-image {
    width: auto; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Style for navigation arrows */
  .arrow {
    /* background: rgba(255, 255, 255, 0.7); White background with slight transparency */
    border: none; /* No border */
    font-size: 30px; /* Font size */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Absolute positioning */
    top: 10%; /* Center vertically */
    /* transform: translateY(-50%); Adjust for vertical centering */
    /* z-index: 10; Keep above other elements */
    /* padding: 10px; Padding for clickable area */
    /* border-radius: 50%; Rounded buttons */
  }
  
  /* Position the left arrow */
  .arrow.left {
    left: 10px; /* Position on the left */
    top: 15rem;
  }
  
  /* Position the right arrow */
  .arrow.right {
    right: 10px; /* Position on the right */
    top: 15rem;
  }
  